@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.Skill{
    text-align: center;
    font-size: 50px;
    color: white;
    margin-top: 100px;
}

.Skill h1{
    margin-bottom: 100px;
}

.Skill h1 span{
    color: crimson;
    text-shadow: 0 0 50px #dc143c;
}


.container{
    margin-top: 50px;
}

#img{
    display: flex;
    justify-content: space-around;
    margin: 0 30px;
    margin-top: 30px;
    border-radius: 8px;
}
#head{
    display: flex;
    justify-content: space-around;
} 

#head h5{
    font-size: 30px;
    justify-content: space-around;
    margin-top: 20px;
    color: white;
    margin-bottom: 10px;
}

h4{
    text-align: center;
    margin-left: 90px;
    color: crimson;

}
#para{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px ;
    text-align: center;
}

#para p{
    font-size: 20px;
    color: white;
    font-weight: 300;
    margin: 0 20px;
    
}